In [1]:
import pandas as pd
from mlxtend.frequent_patterns import association_rules, apriori

# Read dataset

In [17]:
sales_receipts = pd.read_csv("dataset/201904 sales reciepts.csv")

In [18]:
products = pd.read_csv("dataset/product.csv")

# Data merge

In [19]:
sales_receipts = sales_receipts[["transaction_id", "transaction_date", "customer_id", "product_id", "sales_outlet_id", "quantity"]]
products = products[["product_id", "product", "product_category"]]

In [20]:
dataset = pd.merge(sales_receipts, products, on="product_id", how="left")

In [21]:
dataset.head()

   transaction_id  ... product_category
0               7  ...              Tea
1              11  ...           Coffee
2              19  ...              Tea
3              32  ...           Coffee
4              33  ...           Coffee

[5 rows x 8 columns]

## Remove sizes

In [22]:
dataset[dataset["product"].str.contains("Dark chocolate")]["product"].unique()

array(['Dark chocolate Lg', 'Dark chocolate Rg', 'Dark chocolate'],
      dtype=object)

In [23]:
dataset["product"].nunique()

80

In [24]:
dataset["product"] = dataset["product"].str.replace(' Rg', '')
dataset["product"] = dataset["product"].str.replace(' Lg', '')
dataset["product"] = dataset["product"].str.replace(' Sm', '')

In [25]:
dataset.head()
dataset["product"].nunique()

45

In [ ]:
print(dataset["product"].unique())

## Choose product subset

In [27]:
products_to_keep = ["Cappuccino", "Latte", "Espresso shot", "Dark chocolate", "Sugar Free Vanilla syrup", "Carmel syrup",
                    "Chocolate syrup", "Hazelnut syrup", "Ginger Scone", "Chocolate Croissant", "Jumbo Savory Scone",
                    "Cranberry Scone", "Hazelnut Biscotti", "Croissant", "Almond Croissant", "Oatmeal Scone", "Chocolate Chip Biscotti",
                    "Ginger Biscotti"
                    ]

In [34]:
dataset = dataset[dataset["product"].isin(products_to_keep)]

In [35]:
dataset.head()

    transaction_id transaction_date  ...  product_category  transaction
16             108       2019-04-01  ...            Coffee       108_65
17             112       2019-04-01  ...            Coffee       112_90
20             127       2019-04-01  ...            Coffee      127_116
21             134       2019-04-01  ...            Coffee      134_189
22             135       2019-04-01  ...            Coffee      135_131

[5 rows x 9 columns]

## Clean transactions

In [ ]:
dataset["transaction"] = dataset["transaction_id"].astype(str) + "_" + dataset["customer_id"].astype(str)

In [37]:
num_of_items_per_transaction = dataset["transaction"].value_counts().reset_index()
num_of_items_per_transaction

     transaction  count
0          209_0     31
1          206_0     30
2          204_0     27
3          208_0     25
4          203_0     24
...          ...    ...
8381     135_523      1
8382     130_157      1
8383     121_465      1
8384     118_748      1
8385    763_8030      1

[8386 rows x 2 columns]

In [38]:
valid_transaction = num_of_items_per_transaction[(num_of_items_per_transaction["count"] > 1)]["transaction"].tolist()

In [39]:
dataset = dataset[dataset["transaction"].isin(valid_transaction)]

In [40]:
dataset.shape

(10189, 9)

In [41]:
dataset["product"].value_counts()
dataset["product_category"].value_counts()

product_category
Bakery                3800
Coffee                3174
Flavours              2246
Drinking Chocolate     947
Packaged Chocolate      22
Name: count, dtype: int64

# Popularity recommendation engine

In [42]:
product_recommendation = dataset.groupby(["product", "product_category"]).count().reset_index()

In [43]:
product_recommendation.head()

                   product product_category  ...  quantity  transaction
0         Almond Croissant           Bakery  ...       347          347
1               Cappuccino           Coffee  ...      1290         1290
2             Carmel syrup         Flavours  ...       561          561
3  Chocolate Chip Biscotti           Bakery  ...       352          352
4      Chocolate Croissant           Bakery  ...       636          636

[5 rows x 9 columns]

In [44]:
product_recommendation = product_recommendation[["product", "product_category", "transaction_id"]]
product_recommendation = product_recommendation.rename(columns={"transaction_id": "num_of_transactions"})

In [46]:
product_recommendation.to_csv("api/recommendation_dataset/popularity_recommendation.csv", index=False)

# Apriori recommendation engine

In [47]:
train_basket = (dataset.groupby(["transaction", "product"])["product"].count().reset_index(name="count"))

In [50]:
wide_basket = train_basket.pivot_table(index="transaction", columns="product", values="count").fillna(0)
wide_basket.head()

In [53]:
def encode_units(x):
    if x <= 0:
        return 0
    else:
        return 1

wide_basket = wide_basket.map(encode_units)

In [ ]:
wide_basket.head()

In [55]:
frequent_items = apriori(wide_basket, min_support=0.05, use_colnames=True)

In [ ]:
frequent_items.head(20)

In [59]:
rules_basket = association_rules(frequent_items, metric="lift", min_threshold=1)

In [60]:
rules_basket.head()

          antecedents         consequents  ...  conviction  zhangs_metric
0        (Cappuccino)  (Almond Croissant)  ...    1.024775       0.255319
1  (Almond Croissant)        (Cappuccino)  ...    1.133333       0.176432
2  (Almond Croissant)    (Dark chocolate)  ...    1.436567       0.500152
3    (Dark chocolate)  (Almond Croissant)  ...    1.115717       0.611791
4  (Almond Croissant)             (Latte)  ...    1.167171       0.212660

[5 rows x 10 columns]

In [ ]:
rules_basket[rules_basket["antecedents"] == {"Latte"}].sort_values("confidence", ascending=False)

## Save in json format

In [62]:
product_categories = dataset[["product", "product_category"]].drop_duplicates().set_index("product").to_dict()["product_category"]

In [63]:
recommendations_json = {}
antecedents = rules_basket["antecedents"].unique()
for antecedent in antecedents:
    df_rec = rules_basket[rules_basket["antecedents"] == antecedent]
    df_rec = df_rec.sort_values("confidence", ascending=False)
    key = "_".join(antecedent)
    recommendations_json[key] = []
    for _,row in df_rec.iterrows():
        objects = row["consequents"]
        for object in objects:
            already_exist = False
            for current_object in recommendations_json[key]:
                if object == current_object["product"]:
                    already_exist = True
            if already_exist:
                continue
            rec_dict = {
                "product": object,
                "product_category": product_categories[object],
                "confidence": row["confidence"]
            }
            recommendations_json[key].append(rec_dict)

In [64]:
recommendations_json

{'Cappuccino': [{'product': 'Sugar Free Vanilla syrup',
   'product_category': 'Flavours',
   'confidence': 0.29057337220602525},
  {'product': 'Chocolate syrup',
   'product_category': 'Flavours',
   'confidence': 0.2818270165208941},
  {'product': 'Carmel syrup',
   'product_category': 'Flavours',
   'confidence': 0.26433430515063167},
  {'product': 'Hazelnut syrup',
   'product_category': 'Flavours',
   'confidence': 0.23226433430515062},
  {'product': 'Ginger Scone',
   'product_category': 'Bakery',
   'confidence': 0.15354713313896987},
  {'product': 'Chocolate Chip Biscotti',
   'product_category': 'Bakery',
   'confidence': 0.14480077745383868},
  {'product': 'Chocolate Croissant',
   'product_category': 'Bakery',
   'confidence': 0.14480077745383868},
  {'product': 'Croissant',
   'product_category': 'Bakery',
   'confidence': 0.14480077745383868},
  {'product': 'Jumbo Savory Scone',
   'product_category': 'Bakery',
   'confidence': 0.14188532555879496},
  {'product': 'Ginger Biscotti',
   'product_category': 'Bakery',
   'confidence': 0.1379980563654033},
  {'product': 'Almond Croissant',
   'product_category': 'Bakery',
   'confidence': 0.13702623906705538},
  {'product': 'Cranberry Scone',
   'product_category': 'Bakery',
   'confidence': 0.13508260447035958}],
 'Almond Croissant': [{'product': 'Dark chocolate',
   'product_category': 'Packaged Chocolate',
   'confidence': 0.4967320261437908},
  {'product': 'Latte',
   'product_category': 'Coffee',
   'confidence': 0.47058823529411764},
  {'product': 'Cappuccino',
   'product_category': 'Coffee',
   'confidence': 0.46078431372549017}],
 'Dark chocolate': [{'product': 'Espresso shot',
   'product_category': 'Coffee',
   'confidence': 0.22100954979536153},
  {'product': 'Chocolate Croissant',
   'product_category': 'Bakery',
   'confidence': 0.2169167803547067},
  {'product': 'Ginger Scone',
   'product_category': 'Bakery',
   'confidence': 0.21555252387448842},
  {'product': 'Almond Croissant',
   'product_category': 'Bakery',
   'confidence': 0.20736698499317874},
  {'product': 'Cranberry Scone',
   'product_category': 'Bakery',
   'confidence': 0.2032742155525239},
  {'product': 'Carmel syrup',
   'product_category': 'Flavours',
   'confidence': 0.19918144611186905},
  {'product': 'Chocolate Chip Biscotti',
   'product_category': 'Bakery',
   'confidence': 0.19372442019099592},
  {'product': 'Chocolate syrup',
   'product_category': 'Flavours',
   'confidence': 0.19099590723055934},
  {'product': 'Jumbo Savory Scone',
   'product_category': 'Bakery',
   'confidence': 0.18553888130968624},
  {'product': 'Croissant',
   'product_category': 'Bakery',
   'confidence': 0.18417462482946795}],
 'Latte': [{'product': 'Sugar Free Vanilla syrup',
   'product_category': 'Flavours',
   'confidence': 0.28486646884273},
  {'product': 'Carmel syrup',
   'product_category': 'Flavours',
   'confidence': 0.2818991097922849},
  {'product': 'Chocolate syrup',
   'product_category': 'Flavours',
   'confidence': 0.27002967359050445},
  {'product': 'Hazelnut syrup',
   'product_category': 'Flavours',
   'confidence': 0.26508407517309596},
  {'product': 'Croissant',
   'product_category': 'Bakery',
   'confidence': 0.14935707220573688},
  {'product': 'Chocolate Croissant',
   'product_category': 'Bakery',
   'confidence': 0.1444114737883284},
  {'product': 'Ginger Scone',
   'product_category': 'Bakery',
   'confidence': 0.1444114737883284},
  {'product': 'Almond Croissant',
   'product_category': 'Bakery',
   'confidence': 0.142433234421365},
  {'product': 'Ginger Biscotti',
   'product_category': 'Bakery',
   'confidence': 0.1414441147378833},
  {'product': 'Cranberry Scone',
   'product_category': 'Bakery',
   'confidence': 0.13452027695351138}],
 'Carmel syrup': [{'product': 'Latte',
   'product_category': 'Coffee',
   'confidence': 0.5632411067193677},
  {'product': 'Cappuccino',
   'product_category': 'Coffee',
   'confidence': 0.5375494071146245},
  {'product': 'Espresso shot',
   'product_category': 'Coffee',
   'confidence': 0.31620553359683795},
  {'product': 'Dark chocolate',
   'product_category': 'Packaged Chocolate',
   'confidence': 0.2885375494071146}],
 'Chocolate Chip Biscotti': [{'product': 'Cappuccino',
   'product_category': 'Coffee',
   'confidence': 0.5},
  {'product': 'Dark chocolate',
   'product_category': 'Packaged Chocolate',
   'confidence': 0.47651006711409394}],
 'Chocolate Croissant': [{'product': 'Dark chocolate',
   'product_category': 'Packaged Chocolate',
   'confidence': 0.44289693593314766},
  {'product': 'Cappuccino',
   'product_category': 'Coffee',
   'confidence': 0.415041782729805},
  {'product': 'Latte',
   'product_category': 'Coffee',
   'confidence': 0.40668523676880225}],
 'Chocolate syrup': [{'product': 'Cappuccino',
   'product_category': 'Coffee',
   'confidence': 0.58},
  {'product': 'Latte',
   'product_category': 'Coffee',
   'confidence': 0.5459999999999999},
  {'product': 'Espresso shot',
   'product_category': 'Coffee',
   'confidence': 0.312},
  {'product': 'Dark chocolate',
   'product_category': 'Packaged Chocolate',
   'confidence': 0.27999999999999997}],
 'Cranberry Scone': [{'product': 'Dark chocolate',
   'product_category': 'Packaged Chocolate',
   'confidence': 0.48534201954397393},
  {'product': 'Cappuccino',
   'product_category': 'Coffee',
   'confidence': 0.4527687296416938},
  {'product': 'Latte',
   'product_category': 'Coffee',
   'confidence': 0.4429967426710098}],
 'Croissant': [{'product': 'Latte',
   'product_category': 'Coffee',
   'confidence': 0.5},
  {'product': 'Cappuccino',
   'product_category': 'Coffee',
   'confidence': 0.49337748344370863},
  {'product': 'Dark chocolate',
   'product_category': 'Packaged Chocolate',
   'confidence': 0.4470198675496689}],
 'Ginger Biscotti': [{'product': 'Latte',
   'product_category': 'Coffee',
   'confidence': 0.5088967971530249},
  {'product': 'Cappuccino',
   'product_category': 'Coffee',
   'confidence': 0.505338078291815}],
 'Ginger Scone': [{'product': 'Cappuccino',
   'product_category': 'Coffee',
   'confidence': 0.4475920679886685},
  {'product': 'Dark chocolate',
   'product_category': 'Packaged Chocolate',
   'confidence': 0.4475920679886685},
  {'product': 'Latte',
   'product_category': 'Coffee',
   'confidence': 0.41359773371104813}],
 'Hazelnut syrup': [{'product': 'Latte',
   'product_category': 'Coffee',
   'confidence': 0.5903083700440529},
  {'product': 'Cappuccino',
   'product_category': 'Coffee',
   'confidence': 0.526431718061674},
  {'product': 'Espresso shot',
   'product_category': 'Coffee',
   'confidence': 0.32158590308370044}],
 'Jumbo Savory Scone': [{'product': 'Cappuccino',
   'product_category': 'Coffee',
   'confidence': 0.48026315789473684},
  {'product': 'Dark chocolate',
   'product_category': 'Packaged Chocolate',
   'confidence': 0.4473684210526316}],
 'Sugar Free Vanilla syrup': [{'product': 'Cappuccino',
   'product_category': 'Coffee',
   'confidence': 0.5641509433962264},
  {'product': 'Latte',
   'product_category': 'Coffee',
   'confidence': 0.5433962264150943},
  {'product': 'Espresso shot',
   'product_category': 'Coffee',
   'confidence': 0.30566037735849055}],
 'Espresso shot': [{'product': 'Dark chocolate',
   'product_category': 'Packaged Chocolate',
   'confidence': 0.2924187725631769},
  {'product': 'Sugar Free Vanilla syrup',
   'product_category': 'Flavours',
   'confidence': 0.2924187725631769},
  {'product': 'Carmel syrup',
   'product_category': 'Flavours',
   'confidence': 0.2888086642599278},
  {'product': 'Chocolate syrup',
   'product_category': 'Flavours',
   'confidence': 0.2815884476534296},
  {'product': 'Hazelnut syrup',
   'product_category': 'Flavours',
   'confidence': 0.26353790613718414}]}